[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/themefisher/airspace-hugo
[submodule "themes/ga-hugo-theme"]
	path = themes/ga-hugo-theme
	url = https://github.com/giraffeacademy/ga-hugo-theme.git
